In [1]:
import pandas as pd
import numpy as np

## Groupby

groupby is a powerful method used to split data into groups based on some criteria, apply a function to each group, and then combine the results.

This is commonly used for:

* Aggregation (like sum, mean, count)

* Transformation (like standardizing data group-wise)

* Filtering (removing groups that don’t meet a condition)

In [2]:
movies = pd.read_csv('03/imdb-top-1000.csv')
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [3]:
movies.loc[966,"Released_Year"] = 1995
movies["Released_Year"] = movies["Released_Year"].astype(int)

there are two types of columns
* Numerical (e.g:IMDB_Rating)
* categorical (e.g:Genre)

groups are made using categorical columns

In [4]:
genres = movies.groupby("Genre")
genres

### Applying builtin aggregation methods on groupby objects

#### sum()

In [5]:
genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,343498,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,143033,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,164182,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,1.463147e+10,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,175858,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8.276358e+09,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,307916,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,1.566387e+10,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,212868,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8.452632e+09,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,574806,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,3.540997e+10,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,3953,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,4.391106e+08,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,3842,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,7.827267e+08,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,5833,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,1.259105e+08,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,21756,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1.034649e+09,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,23834,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1.256417e+09,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,1.755074e+07,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",7875,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,5.822151e+07,313.0

In [6]:
type(genres.sum())

pandas.core.frame.DataFrame

In [7]:
genres.min()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

#### find the top 3 genres by total earnings

In [8]:
genres.sum()["Gross"].sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [9]:
# another way to do which is faster
genres["Gross"].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

#### Find the highest avg imdb rating genre

In [10]:
genres["IMDB_Rating"].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

#### Find the most popular director

In [11]:
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

#### Find the highest rating of each genre

In [12]:
genres["IMDB_Rating"].max()

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.2
Drama        9.3
Family       7.8
Fantasy      8.1
Film-Noir    8.1
Horror       8.5
Mystery      8.4
Thriller     7.8
Western      8.8
Name: IMDB_Rating, dtype: float64

#### Find number of movies done by each actor

In [13]:
movies.groupby("Star1").size().sort_values()

Star1
Jonathan Pryce       1
Martin Freeman       1
Marjane Satrapi      1
Marion Cotillard     1
Mario Casas          1
                    ..
Humphrey Bogart      9
Al Pacino           10
Clint Eastwood      10
Robert De Niro      11
Tom Hanks           12
Length: 660, dtype: int64

In [14]:
movies["Star1"].value_counts()

Star1
Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: count, Length: 660, dtype: int64

In [15]:
movies.groupby("Star1")["Series_Title"].count().sort_values()

Star1
Jonathan Pryce       1
Martin Freeman       1
Marjane Satrapi      1
Marion Cotillard     1
Mario Casas          1
                    ..
Humphrey Bogart      9
Al Pacino           10
Clint Eastwood      10
Robert De Niro      11
Tom Hanks           12
Name: Series_Title, Length: 660, dtype: int64

### GroupBy Attributes and Methods
1. find total number of groups -> len
2. find items in each group -> size
3. first()/last() -> nth item
4. get_group -> vs filtering
5. groups
6. describe
7. sample
8. nunique

In [16]:
len(genres)

14

In [17]:
movies["Genre"].nunique()

14

In [18]:
genres.size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [19]:
genres.first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [20]:
genres.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [21]:
#to find 7th movie some wont have seven movies so it wont give it skip it
genres.nth(6)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
16,Star Wars: Episode V - The Empire Strikes Back,1980,124,Action,8.7,Irvin Kershner,Mark Hamill,1159315,290475067.0,82.0
27,Se7en,1995,127,Crime,8.6,David Fincher,Morgan Freeman,1445096,100125643.0,65.0
32,It's a Wonderful Life,1946,130,Drama,8.6,Frank Capra,James Stewart,405801,82385199.0,89.0
66,WALL·E,2008,98,Animation,8.4,Andrew Stanton,Ben Burtt,999790,223808164.0,95.0
83,The Great Dictator,1940,125,Comedy,8.4,Charles Chaplin,Charles Chaplin,203150,288475.0,NaN
102,Braveheart,1995,178,Biography,8.3,Mel Gibson,Mel Gibson,959181,75600000.0,68.0
118,North by Northwest,1959,136,Adventure,8.3,Alfred Hitchcock,Cary Grant,299198,13275000.0,98.0
420,Sleuth,1972,138,Mystery,8.0,Joseph L. Mankiewicz,Laurence Olivier,44748,4081254.0,NaN
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0

In [22]:
#genres[genres["Genre"]=="Comedy"]
genres.get_group("Comedy")#fast

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
51,Modern Times,1936,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,217881,163245.0,96.0
52,City Lights,1931,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,167839,19181.0,99.0
64,3 Idiots,2009,170,Comedy,8.4,Rajkumar Hirani,Aamir Khan,344445,6532908.0,67.0
...,...,...,...,...,...,...,...,...,...,...
977,The Naked Gun: From the Files of Police Squad!,1988,85,Comedy,7.6,David Zucker,Leslie Nielsen,152871,78756177.0,76.0
978,"Planes, Trains & Automobiles",1987,93,Comedy,7.6,John Hughes,Steve Martin,124773,49530280.0,72.0
989,The Long Goodbye,1973,112,Comedy,7.6,Robert Altman,Elliott Gould,26337,959000.0,87.0
994,A Hard Day's Night,1964,87,Comedy,7.6,Richard Lester,John Lennon,40351,13780024.0,96.0
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0

groups att gives you a dictionary that shows which rows belong to each group.

In [23]:
genres.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

describe function gives you summary statistics (like count, mean, std, min, max, etc.) for each group separately.

In [24]:
genres.describe()

          Released_Year                                                   \
                  count         mean        std     min      25%     50%
Genre
Action            172.0  1997.081395  20.350275  1924.0  1986.75  2004.0
Adventure          72.0  1986.569444  24.686671  1925.0  1968.00  1992.5
Animation          82.0  2002.219512  13.638204  1940.0  1994.25  2004.0
Biography          88.0  1998.386364  17.615583  1928.0  1989.00  2004.0
Comedy            155.0  1986.554839  25.396119  1921.0  1972.50  1993.0
Crime             107.0  1989.420561  22.303243  1931.0  1972.50  1996.0
Drama             289.0  1988.948097  24.446812  1925.0  1969.00  1997.0
Family              2.0  1976.500000   7.778175  1971.0  1973.75  1976.5
Fantasy             2.0  1921.000000   1.414214  1920.0  1920.50  1921.0
Film-Noir           3.0  1944.333333   4.163332  1941.0  1942.00  1943.0
Horror             11.0  1977.818182  23.464092  1933.0  1964.50  1978.0
Mystery            12.0  1986.166667  24.829723  1938.0  1968.50  1996.0
Thriller            1.0  1967.000000        NaN  1967.0  1967.00  1967.0
Western             4.0  1968.750000   4.991660  1965.0  1965.75  1967.0

                           Runtime              ...         Gross  \
               75%     max   count        mean  ...           75%
Genre                                           ...
Action     2012.00  2019.0   172.0  129.046512  ...  2.674437e+08
Adventure  2007.00  2019.0    72.0  134.111111  ...  1.998070e+08
Animation  2013.00  2020.0    82.0   99.585366  ...  2.520612e+08
Biography  2013.00  2020.0    88.0  136.022727  ...  9.829924e+07
Comedy     2006.00  2020.0   155.0  112.129032  ...  8.107809e+07
Crime      2006.00  2019.0   107.0  126.392523  ...  7.102163e+07
Drama      2008.00  2020.0   289.0  124.737024  ...  1.164461e+08
Family     1979.25  1982.0     2.0  107.500000  ...  3.273329e+08
Fantasy    1921.50  1922.0     2.0   85.000000  ...  4.182577e+08
Film-Noir  1946.00  1949.0     3.0  104.000000  ...  6.273068e+07
Horror     1991.50  2017.0    11.0  102.090909  ...  1.362817e+08
Mystery    2002.50  2012.0    12.0  119.083333  ...  1.310949e+08
Thriller   1967.00  1967.0     1.0  108.000000  ...  1.755074e+07
Western    1970.00  1976.0     4.0  148.250000  ...  1.920000e+07

                       Metascore                                           \
                   max     count       mean        std   min    25%   50%
Genre
Action     936662225.0     143.0  73.419580  12.421252  33.0  65.00  74.0
Adventure  874211619.0      64.0  78.437500  12.345393  41.0  69.75  80.5
Animation  873839108.0      75.0  81.093333   8.813646  61.0  75.00  82.0
Biography  753585104.0      79.0  76.240506  11.028187  48.0  70.50  76.0
Comedy     886752933.0     125.0  78.720000  11.829160  45.0  72.00  79.0
Crime      790482117.0      87.0  77.080460  13.099102  47.0  69.50  77.0
Drama      924558264.0     241.0  79.701245  12.744687  28.0  72.00  82.0
Family     435110554.0       2.0  79.000000  16.970563  67.0  73.00  79.0
Fantasy    445151978.0       0.0        NaN        NaN   NaN    NaN   NaN
Film-Noir  123353292.0       3.0  95.666667   1.527525  94.0  95.00  96.0
Horror     298791505.0      11.0  80.000000  15.362291  46.0  77.50  87.0
Mystery    474203697.0       8.0  79.125000  18.604435  52.0  65.25  77.0
Thriller    17550741.0       1.0  81.000000        NaN  81.0  81.00  81.0
Western     31800000.0       4.0  78.250000   9.032349  69.0  72.75  77.0


             75%    max
Genre
Action     82.00   98.0
Adventure  87.25  100.0
Animation  87.50   96.0
Biography  84.50   97.0
Comedy     88.00   99.0
Crime      87.00  100.0
Drama      89.00  100.0
Family     85.00   91.0
Fantasy      NaN    NaN
Film-Noir  96.50   97.0
Horror     88.50   97.0
Mystery    98.50  100.0
Thriller   81.00   81.0
Western    82.50   90.0

[14 rows x 48 columns]

In [25]:
genres.sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
832,Empire of the Sun,1987,153,Action,7.7,Steven Spielberg,Christian Bale,115677,22238696.0,62.0
116,Lawrence of Arabia,1962,228,Adventure,8.3,David Lean,Peter O'Toole,268085,44824144.0,100.0
270,Kaze no tani no Naushika,1984,117,Animation,8.1,Hayao Miyazaki,Sumi Shimamoto,150924,495770.0,86.0
317,La passion de Jeanne d'Arc,1928,110,Biography,8.1,Carl Theodor Dreyer,Maria Falconetti,47676,21877.0,NaN
786,Good Bye Lenin!,2003,121,Comedy,7.7,Wolfgang Becker,Daniel Brühl,137981,4064200.0,68.0
380,Dogville,2003,178,Crime,8.0,Lars von Trier,Nicole Kidman,137963,1530386.0,60.0
296,Ivanovo detstvo,1962,95,Drama,8.1,Andrei Tarkovsky,Eduard Abalov,31728,388466313.0,NaN
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
220,Kahaani,2012,122,Mystery,8.1,Sujoy Ghosh,Vidya Balan,57806,1035953.0,NaN
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

if any group has group has less than the number in sample than it would ask to yes the replace att which will repeat the columns to cope this problem

In [26]:
genres.sample(2,replace=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
168,Indiana Jones and the Last Crusade,1989,127,Action,8.2,Steven Spielberg,Harrison Ford,692366,197171806.0,65.0
951,Minority Report,2002,145,Action,7.6,Steven Spielberg,Tom Cruise,508417,132072926.0,80.0
209,The Grand Budapest Hotel,2014,99,Adventure,8.1,Wes Anderson,Ralph Fiennes,707630,59100318.0,88.0
361,Blood Diamond,2006,143,Adventure,8.0,Edward Zwick,Leonardo DiCaprio,499439,57366262.0,64.0
986,Watership Down,1978,91,Animation,7.6,Martin Rosen,John Hubley,33656,232841485.0,64.0
386,Pâfekuto burû,1997,81,Animation,8.0,Satoshi Kon,Junko Iwao,58192,776665.0,NaN
815,Il postino,1994,108,Biography,7.7,Michael Radford,Massimo Troisi,33600,21848932.0,81.0
411,Gandhi,1982,191,Biography,8.0,Richard Attenborough,Ben Kingsley,217664,52767889.0,79.0
494,In Bruges,2008,107,Comedy,7.9,Martin McDonagh,Colin Farrell,390334,7757130.0,67.0
630,Adams æbler,2005,94,Comedy,7.8,Anders Thomas Jensen,Ulrich Thomsen,45717,1305.0,51.0
775,Crash,2004,112,Crime,7.7,Paul Haggis,Don Cheadle,419483,54580300.0,66.0
299,Les quatre cents coups,1959,99,Crime,8.1,François Truffaut,Jean-Pierre Léaud,105291,263473309.0,NaN
350,Dev.D,2009,144,Drama,8.0,Anurag Kashyap,Abhay Deol,28749,10950.0,NaN
886,Mustang,2015,97,Drama,7.6,Deniz Gamze Ergüven,Günes Sensoy,35785,845464.0,83.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
961,Lost Highway,1997,134,Mystery,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
829,Spoorloos,1988,107,Mystery,7.7,George Sluizer,Bernard-Pierre Donnadieu,33982,367916835.0,NaN
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

nunique tells the unique values of the column in a group

In [27]:
genres.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,48,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

### agg method - passing dict

the .agg() function is used with groupby to apply one or multiple aggregation functions to one or more columns of a grouped DataFrame.

In [28]:
genres.agg({
    "Runtime" : "sum",
    "IMDB_Rating" : "mean",
    "No_of_Votes" : "sum",
    "Gross" : "mean",
    "Metascore" : "max"
})

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196     7.949419     72282412  1.897224e+08       98.0
Adventure     9656     7.937500     22576163  1.319017e+08      100.0
Animation     8166     7.930488     21978630  1.784326e+08       96.0
Biography    11970     7.938636     24006844  9.404952e+07       97.0
Comedy       17380     7.901290     27620327  1.010572e+08       99.0
Crime        13524     8.016822     33533615  7.899656e+07      100.0
Drama        36049     7.957439     61367304  1.225259e+08      100.0
Family         215     7.800000       551221  2.195553e+08       91.0
Fantasy        170     8.000000       146222  3.913633e+08        NaN
Film-Noir      312     7.966667       367215  4.197018e+07       97.0
Horror        1123     7.909091      3742556  9.405902e+07       97.0
Mystery       1429     7.975000      4203004  1.047014e+08      100.0
Thriller       108     7.800000        27733  1.755074e+07       81.0
Western        593     8.350000      1289665  1.455538e+07       90.0

### agg method - passing list

applying multiple agg functions on a single column

In [29]:
genres.agg(["sum","max","min"])

                                                Series_Title  \
                                                         sum
Genre
Action     The Dark KnightThe Lord of the Rings: The Retu...
Adventure  InterstellarBack to the FutureInglourious Bast...
Animation  Sen to Chihiro no kamikakushiThe Lion KingHota...
Biography  Schindler's ListGoodfellasHamiltonThe Intoucha...
Comedy     GisaengchungLa vita è bellaModern TimesCity Li...
Crime      The GodfatherThe Godfather: Part II12 Angry Me...
Drama      The Shawshank RedemptionFight ClubForrest Gump...
Family     E.T. the Extra-TerrestrialWilly Wonka & the Ch...
Fantasy                Das Cabinet des Dr. CaligariNosferatu
Film-Noir   The Third ManThe Maltese FalconShadow of a Doubt
Horror     PsychoAlienThe ThingThe ExorcistNight of the L...
Mystery    MementoRear WindowVertigoShutter IslandKahaani...
Thriller                                     Wait Until Dark
Western    Il buono, il brutto, il cattivoOnce Upon a Tim...

                                                \
                                           max
Genre
Action                                 Yôjinbô
Adventure                           Zombieland
Animation          Ôkami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        À bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                           Released_Year             Runtime  \
                                       min           sum   max   min     sum
Genre
Action                                 300        343498  2019  1924   22196
Adventure            2001: A Space Odyssey        143033  2019  1925    9656
Animation                            Akira        164182  2020  1940    8166
Biography                 12 Years a Slave        175858  2020  1928   11970
Comedy                (500) Days of Summer        307916  2020  1921   17380
Crime                         12 Angry Men        212868  2019  1931   13524
Drama                                 1917        574806  2020  1925   36049
Family          E.T. the Extra-Terrestrial          3953  1982  1971     215
Fantasy       Das Cabinet des Dr. Caligari          3842  1922  1920     170
Film-Noir                Shadow of a Doubt          5833  1949  1941     312
Horror                               Alien         21756  2017  1933    1123
Mystery                          Dark City         23834  2012  1938    1429
Thriller                   Wait Until Dark          1967  1967  1967     108
Western    Il buono, il brutto, il cattivo          7875  1976  1965     593

                    IMDB_Rating  ...                     Star1 No_of_Votes  \
           max  min         sum  ...                       min         sum
Genre                            ...
Action     321   45      1367.3  ...                Aamir Khan    72282412
Adventure  228   88       571.5  ...                Aamir Khan    22576163
Animation  137   71       650.3  ...             Adrian Molina    21978630
Biography  209   93       698.6  ...              Adrien Brody    24006844
Comedy     188   68      1224.7  ...                Aamir Khan    27620327
Crime      229   80       857.8  ...                Ajay Devgn    33533615
Drama      242   64      2299.7  ...                Abhay Deol    61367304
Family     115  100        15.6  ...               Gene Wilder      551221
Fantasy     94   76        16.0  ...               Max Schreck      146222
Film-Noir  108  100        23.9  ...           Humphrey Bogart      367215
Horror     122   71        87.0  ...           Anthony Perkins     3742556
Mystery    138   96        95.7  ...  Bernard-Pierre Donnadieu     4203004
Thriller   108  108         7.8  ...            Audrey Hepburn       27733
Western    165  132        33.4  ...            Clint Eastwood     1289665

                                   Gross                           Metascore  \
               max     min           sum          max          min       sum
Genre
Action     2303232   25312  3.263226e+10  936662225.0       3296.0   10499.0
Adventure  1512360   29999  9.496922e+09  874211619.0      61001.0    5020.0
Animation   999790   25229  1.463147e+10  873839108.0     128985.0    6082.0
Biography  1213505   27254  8.276358e+09  753585104.0      21877.0    6023.0
Comedy      939631   26337  1.566387e+10  886752933.0       1305.0    9840.0
Crime      1826188   27712  8.452632e+09  790482117.0       6013.0    6706.0
Drama      2343110   25088  3.540997e+10  924558264.0       3600.0   19208.0
Family      372490  178731  4.391106e+08  435110554.0    4000000.0     158.0
Fantasy      88794   57428  7.827267e+08  445151978.0  337574718.0       0.0
Film-Noir   158731   59556  1.259105e+08  123353292.0     449191.0     287.0
Horror      787806   27007  1.034649e+09  298791505.0      89029.0     880.0
Mystery    1129894   33982  1.256417e+09  474203697.0    1035953.0     633.0
Thriller     27733   27733  1.755074e+07   17550741.0   17550741.0      81.0
Western     688390   65659  5.822151e+07   31800000.0    5321508.0     313.0


             max   min
Genre
Action      98.0  33.0
Adventure  100.0  41.0
Animation   96.0  61.0
Biography   97.0  48.0
Comedy      99.0  45.0
Crime      100.0  47.0
Drama      100.0  28.0
Family      91.0  67.0
Fantasy      NaN   NaN
Film-Noir   97.0  94.0
Horror      97.0  46.0
Mystery    100.0  52.0
Thriller    81.0  81.0
Western     90.0  69.0

[14 rows x 27 columns]

### Adding both the syntax

you can also apply multiple agg on your own choice of column

In [30]:
genres.agg({ "IMDB_Rating" : ["mean","max","min"],
           "Gross" : "mean"
           })

          IMDB_Rating                   Gross
                 mean  max  min          mean
Genre
Action       7.949419  9.0  7.6  1.897224e+08
Adventure    7.937500  8.6  7.6  1.319017e+08
Animation    7.930488  8.6  7.6  1.784326e+08
Biography    7.938636  8.9  7.6  9.404952e+07
Comedy       7.901290  8.6  7.6  1.010572e+08
Crime        8.016822  9.2  7.6  7.899656e+07
Drama        7.957439  9.3  7.6  1.225259e+08
Family       7.800000  7.8  7.8  2.195553e+08
Fantasy      8.000000  8.1  7.9  3.913633e+08
Film-Noir    7.966667  8.1  7.8  4.197018e+07
Horror       7.909091  8.5  7.6  9.405902e+07
Mystery      7.975000  8.4  7.6  1.047014e+08
Thriller     7.800000  7.8  7.8  1.755074e+07
Western      8.350000  8.8  7.8  1.455538e+07

### Looping on groups

when loop through groups it gives us group name and data

In [31]:
for group,data in genres:
    print(type(group),type(data))

<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>

In [32]:
for group,data in genres:
    print(group,data)

Action                                           Series_Title  Released_Year  \
2                                      The Dark Knight           2008
5        The Lord of the Rings: The Return of the King           2003
8                                            Inception           2010
10   The Lord of the Rings: The Fellowship of the Ring           2001
13               The Lord of the Rings: The Two Towers           2002
..                                                 ...            ...
968                                       Falling Down           1993
979                                      Lethal Weapon           1987
982                                          Mad Max 2           1981
983                                       The Warriors           1979
985                               Escape from Alcatraz           1979

     Runtime   Genre  IMDB_Rating           Director              Star1  \
2        152  Action          9.0  Christopher Nolan     Christian Bale
5        201  Action          8.9      Peter Jackson        Elijah Wood
8        148  Action          8.8  Christopher Nolan  Leonardo DiCaprio
10       178  Action          8.8      Peter Jackson        Elijah Wood
13       179  Action          8.7      Peter Jackson        Elijah Wood
..       ...     ...          ...                ...                ...
968      113  Action          7.6    Joel Schumacher    Michael Douglas
979      109  Action          7.6     Richard Donner         Mel Gibson
982       96  Action          7.6      George Miller         Mel Gibson
983       92  Action          7.6        Walter Hill       Michael Beck
985      112  Action          7.6         Don Siegel     Clint Eastwood

     No_of_Votes        Gross  Metascore
2        2303232  534858444.0       84.0
5        1642758  377845905.0       94.0
8        2067042  292576195.0       74.0
10       1661481  315544750.0       92.0
13       1485555  342551365.0       87.0
..           ...          ...        ...
968       171640   40903593.0       56.0
979       236894   65207127.0       68.0
982       166588   12465371.0       77.0
983        93878   22490039.0       65.0
985       121731   43000000.0       76.0

[172 rows x 10 columns]
Adventure                        Series_Title  Released_Year  Runtime      Genre  \
21                     Interstellar           2014      169  Adventure
47               Back to the Future           1985      116  Adventure
93             Inglourious Basterds           2009      153  Adventure
110                        Das Boot           1981      149  Adventure
114           2001: A Space Odyssey           1968      149  Adventure
..                              ...            ...      ...        ...
957  Fear and Loathing in Las Vegas           1998      118  Adventure
964                        Dead Man           1995      121  Adventure
966                       Apollo 13           1995      140  Adventure
984                The Muppet Movie           1979       95  Adventure
991                  Kelly's Heroes           1970      144  Adventure

     IMDB_Rating           Director                Star1  No_of_Votes  \
21           8.6  Christopher Nolan  Matthew McConaughey      1512360
47           8.5    Robert Zemeckis       Michael J. Fox      1058081
93           8.3  Quentin Tarantino            Brad Pitt      1267869
110          8.3  Wolfgang Petersen      Jürgen Prochnow       231855
114          8.3    Stanley Kubrick          Keir Dullea       603517
..           ...                ...                  ...          ...
957          7.6      Terry Gilliam          Johnny Depp       259753
964          7.6       Jim Jarmusch          Johnny Depp        90442
966          7.6         Ron Howard            Tom Hanks       269197
984          7.6      James Frawley           Jim Henson        32802
991          7.6    Brian G. Hutton       Clint Eastwood        45338

           Gross  Metascore
21   188020017.0       74.0
47   210609762.0       87.0
93   120540719.0       69.0
110   11487676.0       86.0
114   56954992.0       84.0
..           ...        ...
957   10680275.0       41.0
964    1037847.0       62.0
966  173837933.0       77.0
984   76657000.0       74.0
991    1378435.0       50.0

[72 rows x 10 columns]
Animation                           Series_Title  Released_Year  Runtime      Genre  \
23       Sen to Chihiro no kamikakushi           2001      125  Animation
43                       The Lion King           1994       88  Animation
46                      Hotaru no haka           1988       89  Animation
56                      Kimi no na wa.           2016      106  Animation
58   Spider-Man: Into the Spider-Verse           2018      117  Animation
..                                 ...            ...      ...        ...
956                              Mulan           1998       88  Animation
971                  Omohide poro poro           1991      118  Animation
976                 The Little Mermaid           1989       83  Animation
986                     Watership Down           1978       91  Animation
992                    The Jungle Book           1967       78  Animation

     IMDB_Rating             Director             Star1  No_of_Votes  \
23           8.6       Hayao Miyazaki     Daveigh Chase       651376
43           8.5         Roger Allers       Rob Minkoff       942045
46           8.5        Isao Takahata   Tsutomu Tatsumi       235231
56           8.4       Makoto Shinkai  Ryûnosuke Kamiki       194838
58           8.4      Bob Persichetti      Peter Ramsey       375110
..           ...                  ...               ...          ...
956          7.6        Tony Bancroft        Barry Cook       256906
971          7.6        Isao Takahata         Miki Imai        27071
976          7.6         Ron Clements       John Musker       237696
986          7.6         Martin Rosen       John Hubley        33656
992          7.6  Wolfgang Reitherman       Phil Harris       166409

           Gross  Metascore
23    10055859.0       96.0
43   422783777.0       88.0
46   150734678.0       94.0
56     5017246.0       79.0
58   190241310.0       87.0
..           ...        ...
956  120620254.0       71.0
971     453243.0       90.0
976  111543479.0       88.0
986  232841485.0       64.0
992  141843612.0       65.0

[82 rows x 10 columns]
Biography           Series_Title  Released_Year  Runtime      Genre  IMDB_Rating  \
7     Schindler's List           1993      195  Biography          8.9
15          Goodfellas           1990      146  Biography          8.7
18            Hamilton           2020      160  Biography          8.6
35    The Intouchables           2011      112  Biography          8.5
38         The Pianist           2002      150  Biography          8.5
..                 ...            ...      ...        ...          ...
923     La Vie En Rose           2007      140  Biography          7.6
940  Finding Neverland           2004      106  Biography          7.6
949               Blow           2001      124  Biography          7.6
952      The Hurricane           1999      146  Biography          7.6
987   Midnight Express           1978      121  Biography          7.6

             Director               Star1  No_of_Votes        Gross  Metascore
7    Steven Spielberg         Liam Neeson      1213505   96898818.0       94.0
15    Martin Scorsese      Robert De Niro      1020727   46836394.0       90.0
18        Thomas Kail  Lin-Manuel Miranda        55291  440984783.0       90.0
35    Olivier Nakache       Éric Toledano       760360   13182281.0       57.0
38     Roman Polanski        Adrien Brody       729603   32572577.0       85.0
..                ...                 ...          ...          ...        ...
923     Olivier Dahan    Marion Cotillard        82781   10301706.0       66.0
940      Marc Forster         Johnny Depp       198677   51680613.0       67.0
949         Ted Demme         Johnny Depp       240714   52990775.0       52.0
952    Norman Jewison   Denzel Washington        91557   50668906.0       74.0
987       Alan Parker          Brad Davis        73662   35000000.0       59.0

[88 rows x 10 columns]
Comedy                                        Series_Title  Released_Year  Runtime  \
19                                     Gisaengchung           2019      132
26                                  La vita è bella           1997      116
51                                     Modern Times           1936       87
52                                      City Lights           1931       87
64                                         3 Idiots           2009      170
..                                              ...            ...      ...
977  The Naked Gun: From the Files of Police Squad!           1988       85
978                    Planes, Trains & Automobiles           1987       93
989                                The Long Goodbye           1973      112
994                              A Hard Day's Night           1964       87
995                          Breakfast at Tiffany's           1961      115

      Genre  IMDB_Rating         Director            Star1  No_of_Votes  \
19   Comedy          8.6     Bong Joon Ho     Kang-ho Song       552778
26   Comedy          8.6  Roberto Benigni  Roberto Benigni       623629
51   Comedy          8.5  Charles Chaplin  Charles Chaplin       217881
52   Comedy          8.5  Charles Chaplin  Charles Chaplin       167839
64   Comedy          8.4  Rajkumar Hirani       Aamir Khan       344445
..      ...          ...              ...              ...          ...
977  Comedy          7.6     David Zucker   Leslie Nielsen       152871
978  Comedy          7.6      John Hughes     Steve Martin       124773
989  Comedy          7.6    Robert Altman    Elliott Gould        26337
994  Comedy          7.6   Richard Lester      John Lennon        40351
995  Comedy          7.6    Blake Edwards   Audrey Hepburn       166544

           Gross  Metascore
19    53367844.0       96.0
26    57598247.0       59.0
51      163245.0       96.0
52       19181.0       99.0
64     6532908.0       67.0
..           ...        ...
977   78756177.0       76.0
978   49530280.0       72.0
989     959000.0       87.0
994   13780024.0       96.0
995  679874270.0       76.0

[155 rows x 10 columns]
Crime                 Series_Title  Released_Year  Runtime  Genre  IMDB_Rating  \
1              The Godfather           1972      175  Crime          9.2
3     The Godfather: Part II           1974      202  Crime          9.0
4               12 Angry Men           1957       96  Crime          9.0
6               Pulp Fiction           1994      154  Crime          8.9
22            Cidade de Deus           2002      130  Crime          8.6
..                       ...            ...      ...    ...          ...
958              Funny Games           1997      108  Crime          7.6
960                 Sleepers           1996      147  Crime          7.6
974  The Godfather: Part III           1990      162  Crime          7.6
980             Blood Simple           1984       99  Crime          7.6
999             The 39 Steps           1935       86  Crime          7.6

                 Director           Star1  No_of_Votes        Gross  Metascore
1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0      100.0
3    Francis Ford Coppola       Al Pacino      1129952   57300000.0       90.0
4            Sidney Lumet     Henry Fonda       689845    4360000.0       96.0
6       Quentin Tarantino   John Travolta      1826188  107928762.0       94.0
22     Fernando Meirelles      Kátia Lund       699256    7563397.0       79.0
..                    ...             ...          ...          ...        ...
958        Michael Haneke  Susanne Lothar        65058  217345863.0       69.0
960        Barry Levinson  Robert De Niro       186734   49100000.0       49.0
974  Francis Ford Coppola       Al Pacino       359809   66666062.0       60.0
980             Joel Coen      Ethan Coen        87745    2150000.0       82.0
999      Alfred Hitchcock    Robert Donat        51853  302787539.0       93.0

[107 rows x 10 columns]
Drama                         Series_Title  Released_Year  Runtime  Genre  \
0           The Shawshank Redemption           1994      142  Drama
9                         Fight Club           1999      139  Drama
11                      Forrest Gump           1994      142  Drama
17   One Flew Over the Cuckoo's Nest           1975      133  Drama
20                   Soorarai Pottru           2020      153  Drama
..                               ...            ...      ...    ...
990                     Giù la testa           1971      157  Drama
993                           Blowup           1966      111  Drama
996                            Giant           1956      201  Drama
997            From Here to Eternity           1953      118  Drama
998                         Lifeboat           1944       97  Drama

     IMDB_Rating                Director              Star1  No_of_Votes  \
0            9.3          Frank Darabont        Tim Robbins      2343110
9            8.8           David Fincher          Brad Pitt      1854740
11           8.8         Robert Zemeckis          Tom Hanks      1809221
17           8.7            Milos Forman     Jack Nicholson       918088
20           8.6           Sudha Kongara             Suriya        54995
..           ...                     ...                ...          ...
990          7.6            Sergio Leone        Rod Steiger        30144
993          7.6  Michelangelo Antonioni     David Hemmings        56513
996          7.6          George Stevens   Elizabeth Taylor        34075
997          7.6          Fred Zinnemann     Burt Lancaster        43374
998          7.6        Alfred Hitchcock  Tallulah Bankhead        26471

           Gross  Metascore
0     28341469.0       80.0
9     37030102.0       66.0
11   330252182.0       82.0
17   112000000.0       83.0
20   556832648.0        NaN
..           ...        ...
990     696690.0       77.0
993  632532802.0       82.0
996  195217415.0       84.0
997   30500000.0       85.0
998  852142728.0       78.0

[289 rows x 10 columns]
Family                             Series_Title  Released_Year  Runtime   Genre  \
688           E.T. the Extra-Terrestrial           1982      115  Family
698  Willy Wonka & the Chocolate Factory           1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
688          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
698          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
688       91.0
698       67.0
Fantasy                      Series_Title  Released_Year  Runtime    Genre  \
321  Das Cabinet des Dr. Caligari           1920       76  Fantasy
568                     Nosferatu           1922       94  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
321          8.1  Robert Wiene  Werner Krauss        57428  337574718.0
568          7.9   F.W. Murnau    Max Schreck        88794  445151978.0

     Metascore
321        NaN
568        NaN
Film-Noir            Series_Title  Released_Year  Runtime      Genre  IMDB_Rating  \
309       The Third Man           1949      104  Film-Noir          8.1
456  The Maltese Falcon           1941      100  Film-Noir          8.0
712   Shadow of a Doubt           1943      108  Film-Noir          7.8

             Director            Star1  No_of_Votes        Gross  Metascore
309        Carol Reed     Orson Welles       158731     449191.0       97.0
456       John Huston  Humphrey Bogart       148928    2108060.0       96.0
712  Alfred Hitchcock    Teresa Wright        59556  123353292.0       94.0
Horror                  Series_Title  Released_Year  Runtime   Genre  IMDB_Rating  \
49                     Psycho           1960      109  Horror          8.5
75                      Alien           1979      117  Horror          8.4
271                 The Thing           1982      109  Horror          8.1
419              The Exorcist           1973      122  Horror          8.0
544  Night of the Living Dead           1968       96  Horror          7.9
707             The Innocents           1961      100  Horror          7.8
724                   Get Out           2017      104  Horror          7.7
844                 Halloween           1978       91  Horror          7.7
876         The Invisible Man           1933       71  Horror          7.7
932                       Saw           2004      103  Horror          7.6
948                The Others           2001      101  Horror          7.6

               Director             Star1  No_of_Votes        Gross  Metascore
49     Alfred Hitchcock   Anthony Perkins       604211   32000000.0       97.0
75         Ridley Scott  Sigourney Weaver       787806   78900000.0       89.0
271      John Carpenter      Kurt Russell       371271   13782838.0       57.0
419    William Friedkin     Ellen Burstyn       362393  232906145.0       81.0
544    George A. Romero       Duane Jones       116557      89029.0       89.0
707        Jack Clayton      Deborah Kerr        27007    2616000.0       88.0
724        Jordan Peele    Daniel Kaluuya       492851  176040665.0       85.0
844      John Carpenter  Donald Pleasence       233106   47000000.0       87.0
876         James Whale      Claude Rains        30683  298791505.0       87.0
932           James Wan        Cary Elwes       379020   56000369.0       46.0
948  Alejandro Amenábar     Nicole Kidman       337651   96522687.0       74.0
Mystery           Series_Title  Released_Year  Runtime    Genre  IMDB_Rating  \
69             Memento           2000      113  Mystery          8.4
81         Rear Window           1954      112  Mystery          8.4
119            Vertigo           1958      128  Mystery          8.3
145     Shutter Island           2010      138  Mystery          8.2
220            Kahaani           2012      122  Mystery          8.1
393     Twelve Monkeys           1995      129  Mystery          8.0
420             Sleuth           1972      138  Mystery          8.0
714  The Lady Vanishes           1938       96  Mystery          7.8
829          Spoorloos           1988      107  Mystery          7.7
899          El cuerpo           2012      112  Mystery          7.6
959          Dark City           1998      100  Mystery          7.6
961       Lost Highway           1997      134  Mystery          7.6

                 Director                     Star1  No_of_Votes        Gross  \
69      Christopher Nolan                Guy Pearce      1125712   25544867.0
81       Alfred Hitchcock             James Stewart       444074   36764313.0
119      Alfred Hitchcock             James Stewart       364368    3200000.0
145       Martin Scorsese         Leonardo DiCaprio      1129894  128012934.0
220           Sujoy Ghosh               Vidya Balan        57806    1035953.0
393         Terry Gilliam              Bruce Willis       578443   57141459.0
420  Joseph L. Mankiewicz          Laurence Olivier        44748    4081254.0
714      Alfred Hitchcock         Margaret Lockwood        47400  474203697.0
829        George Sluizer  Bernard-Pierre Donnadieu        33982  367916835.0
899           Oriol Paulo             Jose Coronado        57549  140340673.0
959           Alex Proyas              Rufus Sewell       187927   14378331.0
961           David Lynch              Bill Pullman       131101    3796699.0

     Metascore
69        80.0
81       100.0
119      100.0
145       63.0
220        NaN
393       74.0
420        NaN
714       98.0
829        NaN
899        NaN
959       66.0
961       52.0
Thriller         Series_Title  Released_Year  Runtime     Genre  IMDB_Rating  \

#### Find the highest rated movie of each genre

In [33]:
df = pd.DataFrame(columns=movies.columns)
for group,data in genres:
    df = pd.concat([df,data[data["IMDB_Rating"] == data["IMDB_Rating"].max()]])
df

C:\Users\AK\AppData\Local\Temp\ipykernel_7216\1384898952.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,data[data["IMDB_Rating"] == data["IMDB_Rating"].max()]])

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

### Split-Apply-Combine strategy 
It’s a 3-step process:
1. Split the data into groups
2. Apply a function to each group independently
3. Combine the results into a new DataFrame

In [34]:
##FOR EXAMPLE
# Sample data
df = pd.DataFrame({
    'Department': ['HR', 'HR', 'IT', 'IT', 'Sales', 'Sales'],
    'Salary': [4000, 4200, 5000, 5100, 3000, 3500]
})

# Split by 'Department', apply mean to 'Salary', combine results
result = df.groupby('Department')['Salary'].mean().reset_index()

print(result)

  Department  Salary
0         HR  4100.0
1         IT  5050.0
2      Sales  3250.0

#### apply -> built-in function

#### Find the number of movies starting with each genre

In [35]:
def number(group):
    return group["Series_Title"].str.startswith('A').sum()
genres.apply(number,include_groups=False)#->combine

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

Parameter	Meaning (likely)

include_groups=True	-> Keep group labels (like 'Genre') in output

include_groups=Fals -> Drop group labels; return raw applied result

#### Find ranking of movies in each genre a/c to imdb rating

In [36]:
def ranking(group):
    group["Rank_in_Genre"] = group["IMDB_Rating"].rank(ascending=False)
    return group
genres.apply(ranking,include_groups=False)

                                                   Series_Title  \
Genre
Action   2                                      The Dark Knight
         5        The Lord of the Rings: The Return of the King
         8                                            Inception
         10   The Lord of the Rings: The Fellowship of the Ring
         13               The Lord of the Rings: The Two Towers
...                                                         ...
Thriller 700                                    Wait Until Dark
Western  12                     Il buono, il brutto, il cattivo
         48                        Once Upon a Time in the West
         115                         Per qualche dollaro in più
         691                             The Outlaw Josey Wales

              Released_Year  Runtime  IMDB_Rating           Director  \
Genre
Action   2             2008      152          9.0  Christopher Nolan
         5             2003      201          8.9      Peter Jackson
         8             2010      148          8.8  Christopher Nolan
         10            2001      178          8.8      Peter Jackson
         13            2002      179          8.7      Peter Jackson
...                     ...      ...          ...                ...
Thriller 700           1967      108          7.8      Terence Young
Western  12            1966      161          8.8       Sergio Leone
         48            1968      165          8.5       Sergio Leone
         115           1965      132          8.3       Sergio Leone
         691           1976      135          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              Rank_in_Genre
Genre
Action   2              1.0
         5              2.0
         8              3.5
         10             3.5
         13             6.0
...                     ...
Thriller 700            1.0
Western  12             1.0
         48             2.0
         115            3.0
         691            4.0

[1000 rows x 10 columns]

#### Find normalized IMDB rating group wise

### Normalization formula

x' = (x - min_value) / (max_value - min_value)

This scales a value x to a range between 0 and 1.

In [37]:
def normalize_imdb(group):
    group["normalize_imdb"] = (group["IMDB_Rating"]-group["IMDB_Rating"].min())/(group["IMDB_Rating"].max()-group["IMDB_Rating"].min())
    return group
genres.apply(normalize_imdb,include_groups=False)

                                                   Series_Title  \
Genre
Action   2                                      The Dark Knight
         5        The Lord of the Rings: The Return of the King
         8                                            Inception
         10   The Lord of the Rings: The Fellowship of the Ring
         13               The Lord of the Rings: The Two Towers
...                                                         ...
Thriller 700                                    Wait Until Dark
Western  12                     Il buono, il brutto, il cattivo
         48                        Once Upon a Time in the West
         115                         Per qualche dollaro in più
         691                             The Outlaw Josey Wales

              Released_Year  Runtime  IMDB_Rating           Director  \
Genre
Action   2             2008      152          9.0  Christopher Nolan
         5             2003      201          8.9      Peter Jackson
         8             2010      148          8.8  Christopher Nolan
         10            2001      178          8.8      Peter Jackson
         13            2002      179          8.7      Peter Jackson
...                     ...      ...          ...                ...
Thriller 700           1967      108          7.8      Terence Young
Western  12            1966      161          8.8       Sergio Leone
         48            1968      165          8.5       Sergio Leone
         115           1965      132          8.3       Sergio Leone
         691           1976      135          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              normalize_imdb
Genre
Action   2          1.000000
         5          0.928571
         8          0.857143
         10         0.857143
         13         0.785714
...                      ...
Thriller 700             NaN
Western  12         1.000000
         48         0.700000
         115        0.500000
         691        0.000000

[1000 rows x 10 columns]

### groupby on multiple columns

In [38]:
duo = movies.groupby(["Director","Star1"])
#size
duo.size()
#get_group
duo.get_group(("Aamir Khan","Amole Gupte"))#-> for multiple column group use tuple not list

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

#### Find the highest earning duo

In [39]:
duo["Gross"].sum().sort_values().tail(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2.999877e+09
Name: Gross, dtype: float64

#### Find the best in terms of average meta score actor and genre combo

In [40]:
movies.groupby(["Star1","Genre"])["Metascore"].mean().sort_values(ascending=False).head(7)

Star1            Genre
Ellar Coltrane   Drama        100.0
Humphrey Bogart  Drama        100.0
James Stewart    Mystery      100.0
Bertil Guve      Drama        100.0
Orson Welles     Drama        100.0
Cary Grant       Drama        100.0
Peter O'Toole    Adventure    100.0
Name: Metascore, dtype: float64

### agg on multiple groupby

In [41]:
duo.agg(["min","max"])

                                                  Series_Title  \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           max           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                         Runtime           Genre             \
                                     max     min  max        min        max
Director            Star1
Aamir Khan          Amole Gupte     2007     165  165      Drama      Drama
Aaron Sorkin        Eddie Redmayne  2020     129  129      Drama      Drama
Abdellatif Kechiche Léa Seydoux     2013     180  180      Drama      Drama
Abhishek Chaubey    Shahid Kapoor   2016     148  148     Action     Action
Abhishek Kapoor     Amit Sadh       2013     130  130      Drama      Drama
...                                  ...     ...  ...        ...        ...
Zaza Urushadze      Lembit Ulfsak   2013      87   87      Drama      Drama
Zoya Akhtar         Hrithik Roshan  2011     155  155     Comedy     Comedy
                    Vijay Varma     2019     154  154      Drama      Drama
Çagan Irmak         Çetin Tekindor  2005     112  112      Drama      Drama
Ömer Faruk Sorak    Cem Yilmaz      2004     127  127  Adventure  Adventure

                                   IMDB_Rating      No_of_Votes          \
                                           min  max         min     max
Director            Star1
Aamir Khan          Amole Gupte            8.4  8.4      168895  168895
Aaron Sorkin        Eddie Redmayne         7.8  7.8       89896   89896
Abdellatif Kechiche Léa Seydoux            7.7  7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor          7.8  7.8       27175   27175
Abhishek Kapoor     Amit Sadh              7.7  7.7       32628   32628
...                                        ...  ...         ...     ...
Zaza Urushadze      Lembit Ulfsak          8.2  8.2       40382   40382
Zoya Akhtar         Hrithik Roshan         8.1  8.1       67927   67927
                    Vijay Varma            8.0  8.0       31886   31886
Çagan Irmak         Çetin Tekindor         8.3  8.3       78925   78925
Ömer Faruk Sorak    Cem Yilmaz             8.0  8.0       56960   56960

                                          Gross              Metascore
                                            min          max       min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869.0    1223869.0       NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410.0  853090410.0      77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675.0    2199675.0      89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303.0  218428303.0       NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527.0    1122527.0      40.0  40.0
...                                         ...          ...       ...   ...
Zaza Urushadze      Lembit Ulfsak      144501.0     144501.0      73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485.0    3108485.0       NaN   NaN
                    Vijay Varma       5566534.0    5566534.0      65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363.0  461855363.0       NaN   NaN
Ömer Faruk Sorak    Cem Yilmaz      196206077.0  196206077.0       NaN   NaN

[898 rows x 16 columns]

### Exercise

In [42]:
ipl = pd.read_csv("03/deliveries.csv")
ipl.head(210)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,TM Head,SR Watson,Rashid Khan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
206,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,TM Head,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,TM Head,caught,Yuvraj Singh
207,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,6,SR Watson,Sachin Baby,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
208,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,1,Sachin Baby,SR Watson,Bipul Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
209,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,2,Sachin Baby,SR Watson,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [43]:
ipl.shape

(179078, 21)

#### Find the top ten batsman in terms of runs

In [44]:
ipl.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

#### Find the batsman with maximum number of sixes

In [45]:
sixes = ipl[ipl["batsman_runs"] == 6]
sixes.groupby("batsman").size().sort_values().tail(1).index[0]

'CH Gayle'

#### Find the batsman with most number of sixes and fours in last 5 overs

In [46]:
boundaries_in_death_overs = ipl[(ipl["over"]>15) & ((ipl["batsman_runs"] == 6) | (ipl["batsman_runs"] == 4))]
boundaries_in_death_overs.groupby("batsman").size().sort_values().tail(1).index[0]

'MS Dhoni'

#### Find V Kohli's record against all teams

In [47]:
vk = ipl[ipl["batsman"] == "V Kohli"]
vk.groupby("bowling_team")["batsman_runs"].sum()

bowling_team
Chennai Super Kings        749
Deccan Chargers            306
Delhi Capitals              66
Delhi Daredevils           763
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        509
Name: batsman_runs, dtype: int64

#### Create a function that can return the highest score of any batsman

In [48]:
def highest_score(player):
    highest_runs = ipl.groupby(["match_id","batsman"])["batsman_runs"].sum().reset_index().sort_values("batsman_runs",ascending=False).drop_duplicates(subset=["batsman"]).set_index("batsman")
    return highest_runs.loc[player]["batsman_runs"]
highest_score('V Kohli')

113

In [49]:
#another way
def highest(batsman):
  temp_df = ipl[ipl['batsman'] == batsman]
  return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]
highest('DA Warner')

126

#### Make a dataframe with columns number of runs,highest_score,fours and sixes against all team

In [95]:
kohli = pd.DataFrame()
vk = ipl[ipl["batsman"] == "V Kohli"]
runs = vk.groupby("bowling_team")["batsman_runs"].sum()
kohli.index = runs.index
fours = vk[vk["batsman_runs"] == 4].groupby("bowling_team").size()
sixes = vk[vk["batsman_runs"] == 6].groupby("bowling_team").size()
highest_score = vk.groupby(["match_id","bowling_team"])["batsman_runs"].sum().reset_index().sort_values("batsman_runs",ascending=False).drop_duplicates("bowling_team").set_index("bowling_team")["batsman_runs"]
kohli[["Runs","4s","6s","Highest Score"]] = pd.DataFrame({"Runs":runs,"4s":fours,"6s":sixes,"Highest Score":highest_score})
kohli.index.name = "Teams"
kohli["Avg"] = round(kohli["Runs"]/vk[vk["player_dismissed"] == "V Kohli"].groupby("bowling_team").size(),2)
kohli

                         Runs  4s    6s  Highest Score     Avg
Teams
Chennai Super Kings       749  57  30.0             73   37.45
Deccan Chargers           306  23  14.0             71   34.00
Delhi Capitals             66   3   3.0             42   33.00
Delhi Daredevils          763  74  22.0             99   69.36
Gujarat Lions             283  24  11.0            109   70.75
Kings XI Punjab           636  74  18.0            113   30.29
Kochi Tuskers Kerala       50   7   NaN             27   50.00
Kolkata Knight Riders     675  58  22.0            100   37.50
Mumbai Indians            628  52  24.0             93   31.40
Pune Warriors             128   9   5.0             67   25.60
Rajasthan Royals          370  29  10.0             62   21.76
Rising Pune Supergiant     83   7   2.0             55   41.50
Rising Pune Supergiants   188  15   9.0            108  188.00
Sunrisers Hyderabad       509  50  21.0             93   46.27